/* Reset some default browser styles */
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

/* Make a background color for the entire document */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Add text to center in header */
header {
    background-color: #50b3a2;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Style the main content area */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add some spacing and borders to list items */
ul {
    list-style: none;
}

ul li {
    background-color: #eee;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

/* Style headings */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

/* Style footer */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

/* Style the 'Create a New Post' link */
a {
    display: inline-block;
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #449c89;
}

button {
    display: inline-block;
    background-color: #767676;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    border: none;
}

button:hover {
    background-color: #cf2222;
}