<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>better_dcinside</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>
    <main>
        <section>
            <h2>Posts</h2>
            <ul>
                {% for post in posts %}
                    <li>
                        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        <h3>{{ post.title }} <small>by {{ post.username }}</small> </h3> 
                        <p>{{ post.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <a href="{{ url_for('posts') }}">Create a New Post</a>
        </section>
    </main>
    <footer>
        <p>My BBS &copy; 2023</p>
    </footer>
</body>
</html>